<header>
    <nav class="container">
        <ul>
            <li><a href="/">Trang chủ</a></li>
            <li><a href="/tickets">Sự kiện</a></li>
            <li><a href="/about">Giới thiệu</a></li>
            <li><a href="/contact">Liên hệ</a></li>
        </ul>

        <div class="logo">
            <a href="/">
                <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Logo Image" width="300">
            </a>
        </div>
        <div class="search-bar">
            <div class="search">
                <input type="text" placeholder="Tìm kiếm sự kiện" id="search-input"/>
                <i class="bi bi-search" onclick="onSearch()"></i>
            </div>

            <button class="register-btn"><a href="/register">Đăng kí</a></button>
            <button class="login-btn"><a href="/login">Đăng nhập</a></button>
        </div>
    </nav>
</header>

<script>
    function onSearch() {
        const keyword = document.getElementById("search-input").value.trim();
        if (keyword) {
            window.location.href = `/tickets/search?q=${encodeURIComponent(keyword)}`;
        }
    }
</script>