* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}




ol, ul {
	list-style: none;

}
blockquote, q {
	quotes: none;
}
a {
    text-decoration: none !important;
    color: black !important;
}
