.section-trending {
    width: calc(100% + 5px);
    margin-top: 3em;
    font-family: "Roboto", sans-serif;
}

.section-trending h2 {
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: bold;
    line-height: 1.6em;
    margin-bottom: 0;
}

.section-trending p {
    font-size: 1.2em;
}

.glider .event-card {
    padding-right: 5px;
}

.glider-prev {
    left: 5px !important;
    top: 40% !important;
    color: white !important;
}

.glider-next {
    right: 5px !important;
    top: 40% !important;
    color: white !important;
}
