{% extends "layout.html" %}

{% block title %}Đăng nhập{% endblock %}

{% block content %}
<main>
    <div class="login-page">
        <div class="background-image">
            <div class="masonry-container">
                <div class="masonry-item">
                    <img src="https://assets.cticket.vn/tix/bigteam-bigdream-showcase-in-hn-19/THUMBNAIL%20(1600x900).webp?w=2772&q=75"
                        alt="">
                </div>
                <div class="masonry-item">
                    <img src="https://assets.cticket.vn/tix/truant-fu-the-2nd-date-0207/truan%20fu%201600%20x%20900%20px.webp?w=2772&q=75"
                        alt="">
                </div>
                <div class="masonry-item">
                    <img src="https://assets.cticket.vn/tix/merchandise-bigteam-hn/1600%20x%20900%20px.webp?w=2772&q=75"
                        alt="">
                </div>
                <div class="masonry-item">
                    <img src="https://assets.cticket.vn/tix/daesung-2025-asia-tour-ds-wave-in-hochiminh/thumbnail_1600x900.webp?w=2772&q=75"
                        alt="">
                </div>
                <div class="masonry-item">
                    <img src="https://assets.cticket.vn/tix/daesung/DAESUNG-FANDAY-thumbnail-new.jpg?w=2772&q=75"
                        alt="">
                </div>
                <div class="masonry-item">
                    <img src="https://assets.cticket.vn/tix/mltr/MLTR-2024-Thumbnail-1600x900-0310.jpg?w=2772&q=75"
                        alt="">
                </div>
                <div class="masonry-item">
                    <img src="https://assets.cticket.vn/tix/bigteam-bigdream-showcase-in-hn-19/THUMBNAIL%20(1600x900).webp?w=2772&q=75"
                        alt="">
                </div>
                <div class="masonry-item">
                    <img src="https://assets.cticket.vn/tix/tram-dung-gap-go-captain-boy-fanmeeting-tphcm-2008/THUMBNAIL_1600x900%20copy.webp?w=2772&q=75"
                        alt="">
                </div>
                <div class="masonry-item">
                    <img src="https://assets.cticket.vn/tix/bray/1600x900%20(1).webp?w=2772&q=75" alt="">
                </div>
                <div class="masonry-item">
                    <img src="https://daknong.1cdn.vn/2025/05/16/danh-sach-dan-nghe-si-co-mat-tai-su-kien-k-star-spark-in-vietnam-mega-concert-2025.jpg"
                        alt="">
                </div>
                <div class="masonry-item">
                    <img src="https://assets.cticket.vn/tix/rhyderminishow/1600x900pxmin.png?w=2772&q=75" alt="">
                </div>
                <div class="masonry-item">
                    <img src="https://assets.cticket.vn/tix/genfest/0910-genfest-1600x900px_-min.png?w=2772&q=75"
                        alt="">
                </div>
                <div class="masonry-item">
                    <img src="https://assets.cticket.vn/tix/daesung-2025-asia-tour-ds-wave-in-hochiminh/thumbnail_1600x900.webp?w=2772&q=75"
                        alt="">
                </div>
            </div>
        </div>
        <div class="login-form">

            <div class="login-form-container">
                <div class="title">
                    <h3>Đăng nhập vào <span>We2Go</span></h3>
                    <p>Chào mừng đến với We2Go, vui lòng nhập tài khoản đăng nhập của bạn bên dưới</p>
                </div>
                <div class="lg-form">
                    <input type="text" placeholder="Nhập địa chỉ email" id="email" />
                    <input type="password" placeholder="Nhập mật khẩu" id="password" />
                </div>
                <div class="lg-actions">
                    <a class="forgot-password">Bạn quên mật khẩu ?</a>
                    <button class="login-btn-confirm" onclick="onLogin()">
                        Đăng nhập
                    </button>
                    <!-- <p><span>Hoặc</span></p>
                    <div class="gg-login-btn">Đăng nhập với google</div> -->
                </div>
            </div>


            <div class="register-redirect">
                <p>Bạn chưa có tài khoản ?</p>
                <button>Đăng kí</button>
            </div>
        </div>
    </div>
</main>


<script>
    function onLogin() {
        const root = window.location.origin; 
        const endpoint = 'login'
        const data = {
            email: document.getElementById('email').value,
            password: document.getElementById('password').value
        }


        fetch(`${root}/${endpoint}`, data)
        .then(response => {
            return response.json()
        })
        .then(result => {
            
        })
    }
</script>
{% endblock %}