{% extends "layout.html" %}

{% block title %}Đăng nhập{% endblock %}

{% block content %}
<main>
    <div class="login-page">
        <div class="background-image">
            <div class="masonry-container">
                <div class="masonry-item">
                    <img src="https://wallpapercave.com/wp/wp4035975.jpg" alt="">
                </div>
                 <div class="masonry-item">
                    <img src="https://tse4.mm.bing.net/th/id/OIP.4nk75OwkS-_GojFMAJLv_QHaHa?pid=Api&P=0&h=180" alt="">
                </div>
                 <div class="masonry-item">
                    <img src="https://daknong.1cdn.vn/2025/05/16/danh-sach-dan-nghe-si-co-mat-tai-su-kien-k-star-spark-in-vietnam-mega-concert-2025.jpg" alt="">
                </div>
                 <div class="masonry-item">
                    <img src="https://assets.cticket.vn/tix/truant-fu-the-2nd-date-0207/truan%20fu%201600%20x%20900%20px.webp?w=2772&q=75" alt="">
                </div>
                <div class="masonry-item">
                    <img src="https://assets.cticket.vn/tix/merchandise-bigteam-hn/1600%20x%20900%20px.webp?w=2772&q=75" alt="">
                </div>
                <div class="masonry-item">
                    <img src="https://assets.cticket.vn/tix/2025-dept-dream-age-tour-0113/Thumbnail.webp?w=2772&q=75" alt="">
                </div>
                <div class="masonry-item">
                    <img src="https://assets.cticket.vn/tix/the-culture-hub-2025-diem-hen-van-hoa/Thumbnail%201600x900.webp?w=2772&q=75" alt="">
                </div>
                <div class="masonry-item">
                    <img src="https://assets.cticket.vn/tix/vietnam-health-summit-2025-108/Thumbnail%20-%201600x900_1407.webp?w=2772&q=75" alt="">
                </div>
                <div class="masonry-item">
                    <img src="https://assets.cticket.vn/tix/bigteam-bigdream-showcase-in-hn-19/THUMBNAIL%20(1600x900).webp?w=2772&q=75" alt="">
                </div>
                <div class="masonry-item">
                    <img src="https://assets.cticket.vn/tix/the-culture-hub-2025-diem-hen-van-hoa/Thumbnail%201600x900.webp?w=2772&q=75" alt="">
                </div>
                <div class="masonry-item">
                    <img src="https://assets.cticket.vn/tix/the-culture-hub-2025-diem-hen-van-hoa/Thumbnail%201600x900.webp?w=2772&q=75" alt="">
                </div>
                <div class="masonry-item">
                    <img src="https://assets.cticket.vn/tix/the-culture-hub-2025-diem-hen-van-hoa/Thumbnail%201600x900.webp?w=2772&q=75" alt="">
                </div>
                <div class="masonry-item">
                    <img src="https://assets.cticket.vn/tix/the-culture-hub-2025-diem-hen-van-hoa/Thumbnail%201600x900.webp?w=2772&q=75" alt="">
                </div>
                <div class="masonry-item">
                    <img src="https://assets.cticket.vn/tix/the-culture-hub-2025-diem-hen-van-hoa/Thumbnail%201600x900.webp?w=2772&q=75" alt="">
                </div>
                <div class="masonry-item">
                    <img src="https://assets.cticket.vn/tix/the-culture-hub-2025-diem-hen-van-hoa/Thumbnail%201600x900.webp?w=2772&q=75" alt="">
                </div>
            </div>
        </div>
        <div class="login-form">
            <div class="login-form-container">
                <div class="title">
                    <h3>Đăng nhập vào <span>We2Go</span></h3>
                    <p>Chào mừng đến với We2Go, vui lòng nhập tài khoản đăng nhập của bạn bên dưới</p>
                </div>
                <div class="lg-form">
                    <input type="text" placeholder="Nhập địa chỉ email"/>
                    <input type="password" placeholder="Nhập mật khẩu"/>
                </div>
                <div class="lg-actions">
                    <a class="forgot-password">Bạn quên mật khẩu ?</a>
                    <button class="login-btn-confirm">
                        Đăng nhập
                    </button>
                    <!-- <p><span>Hoặc</span></p>
                    <div class="gg-login-btn">Đăng nhập với google</div> -->
                </div>
            </div>
            <div class="register-redirect">
                <p>Bạn chưa có tài khoản ?</p>
                <button>Đăng kí</button>
            </div>
        </div>
    </div>
</main>
{% endblock %}