{% extends "layout.html" %}

{% block title %}Sự kiện{% endblock %}

{% block content %}

<div class="container">
    <div class="ticket-detail">
        <div class="ticket-content">
            <div class="ticket-header">
                <p class="event-date">{{ticket.date}}</p>
                <h1 class="event-name">{{ticket.name}}</h1>

            </div>

            <div class="ticket-location">
                <p class="location location-name">{{ticket.location.venue}}</p>
                <p class="location"><i class="fas fa-ticket-alt"></i>{{ticket.location.address}}</p>
            </div>
            <div class="ticket-desc">
                {{ ticket.description | safe }}
            </div>
        </div>
        <div class="ticket-image">
            <div class=""></div>
            <img src="{{ticket.url}}" alt="QR Code">
            <div class="price">
                <h3>{{ "{:,.0f}".format(ticket.price).replace(",", ".") }}đ</h3>
                <div class="line"></div>
                <div class="buy-actions">
                    <button class="buy">Đặt vé ngay</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}