<header>
    <nav class="container">
        <ul>
            <li><a href="/">Trang chủ</a></li>
            <li><a href="/events">Sự kiện</a></li>
            <li><a href="/about">Giới thiệu</a></li>
            <li><a href="/contact">Liên hệ</a></li>
        </ul>

        <div class="logo">
            <a href="/">
                <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Logo Image" width="300">
            </a>
        </div>
        <div class="search-bar">
            <div class="search">
                <input type="text" placeholder="Tìm kiếm sự kiện" id="search-input" />
                <i class="bi bi-search" onclick="onSearch()"></i>
            </div>


            {% if session.get("user_id") %}
            <div class="profile">
                <div class="profile-info">
                    <img src="{{ session.get('user_avatar') or url_for('static', filename='images/defaul_profile.png') }}"
                        alt="Avatar" width="40" height="40" class="avatar">
                    <!-- <span>{{ session.get("user_name") }}</span> -->
                </div>
                <div class="profile-dropdown">
                    <a class="logout-btn">Đăng xuất</a>
                </div>
            </div>
            {% else %}
            <div class="header-actions">
                <button class="register-btn"><a href="/register">Đăng kí</a></button>
                <button class="login-btn"><a href="/login" style="color: white">Đăng nhập</a></button>
            </div>
            {% endif %}

        </div>
    </nav>
</header>

<script>
    function onSearch() {
        const keyword = document.getElementById("search-input").value.trim();
        if (keyword) {
            window.location.href = `/events/search?q=${encodeURIComponent(keyword)}`;
        }
    }
</script>