<div class="section-categories mt-5">
    <div class="cate-list">
        <div class="cate-inner">
            <div class="cate-item">Khám phá</div>
            <div class="cate-item">Âm nhạc</div>
            <div class="cate-item">Phim ảnh</div>
            <div class="cate-item">Công nghệ</div>
            <div class="cate-item">Triển lãm</div>
            <div class="cate-item">Thể thao</div>
            <div class="cate-item">Ẩm thực</div>
            <div class="cate-item">Thời trang</div>
            <div class="cate-item">Nghệ thuật</div>
            <div class="cate-item">Hội thảo</div>
            <div class="cate-item">Đời sống</div>
        </div>
    </div>
</div>