{% extends "layouts/layout.html" %}

{% block title %}Trang chủ{% endblock %}

{% block content %}
<main>
    <div class="home">
        <div class="container">
            {% include "components/user/banner.html" %}
            {% include "components/user/section_categories.html" %}
            {% include "components/user/section_highlight.html" %}

            <!-- Rebuild the component  -->
            {% set section_id = "trending-1" %}
            {% include "components/user/section_trending.html" %}
            {% set section_id = "trending-2" %}
            {% include "components/user/section_trending.html" %}
        </div>
    </div>
</main>
{% endblock %}