{% extends "layouts/dashboard_layout.html" %}

{% block title %}Tạo sự kiện mới{% endblock %}

{% block content %}


<div class="event_form">
    <div class="event_form-actions">
        <button type="submit" form="eventForm" class="create" form="eventForm">
            <div data-lucide="save"></div>
        </button>
    </div>
    <form method="POST" action="{{ request.path }}" id="eventForm" enctype="multipart/form-data">
        <div class="event_form-container">
            <div class="event_form-main">
                <div class="is-created">
                    {% if event_id %}
                    <span class="status">CREATED</span>
                    {% endif %}
                </div>
                <div class="title">
                    <h3>Tạo nội dung sự kiện</h3>
                    <p> Vui lòng nhập mô tả chi tiết về sự kiện (nội dung, khách mời, giá trị mang lại...). </p>
                    <p>Nội dung này sẽ hiển thị trong trang sự kiện công khai.</p>
                </div>
                <div class="form-data">
                    <div class="input-field">
                        <p>Hình ảnh</p>

                        <div class="image-container">
                            <img src="{{ event.images if event and event.images else '' }}" id="preview" />
                            <button type="button" class="img-delete">
                                <div data-lucide="x"></div>
                            </button>
                        </div>
                        <input name="images" value="{{ event.images if event else '' }}" style="display: none;" />
                        <input type="file" name="images" id="img"
                            value="{{ event.images if event and event.images else '' }}" />
                    </div>

                    <div class="input-field">
                        <p>Tên sự kiện</p>
                        <input type="text" name="title" id="title" value="{{ event.title if event else '' }}"
                            class="{% if 'title' in missing_fields %}is-invalid{% endif %}" />
                    </div>

                    <div class="input-field">
                        <p>Tên định danh</p>
                        <input type="text" name="alias" id="alias" readonly
                            value="{{ event.alias if event else '' }}" />
                    </div>

                    <div class="input-field">
                        <p>Thể loại sự kiện</p>
                        <select id="category" name="category">
                            {% for cat in categories %}
                            <option value="{{ cat.id }}" {% if event and event.category_id==cat.id %} selected {% endif
                                %}>
                                {{ cat.name }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="input-group">
                        <div class="input-field">
                            <p>Thời gian tổ chức</p>
                            <div class="group" style="display: flex; flex-grow: 1; gap: 10px;">
                                <input type="date" name="start_date" placeholder="Chọn ngày tổ chức"
                                    value="{{ event.start_date if event else '' }}"
                                    class="{% if 'start_date' in missing_fields %}is-invalid{% endif %}" />
                                <input type="time" name="start_time" placeholder="Giờ bắt đầu"
                                    value="{{ event.start_time if event else '' }}"
                                    class="{% if 'start_time' in missing_fields %}is-invalid{% endif %}" />
                            </div>
                        </div>
                        <div class="input-field">
                            <p>Thời gian kết thúc</p>
                            <div style="display: flex; gap: 20px;">
                                <div class="group" style="display: flex; flex-grow: 1; gap: 10px;">
                                    <input type="date" name="end_date" placeholder="Chọn ngày tổ chức"
                                        value="{{ event.end_date if event else '' }}"
                                        class="{% if 'end_date' in missing_fields %}is-invalid{% endif %}" />
                                    <input type="time" name="end_time" placeholder="Giờ kết thúc"
                                        value="{{ event.end_time if event else '' }}"
                                        class="{% if 'end_time' in missing_fields %}is-invalid{% endif %}" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="input-group">
                        <div class="input-field">
                            <p>Địa điểm tổ chức </p>
                            <input type="text" name="venue" placeholder=" Nhà, sân vận động ... "
                                value="{{ event.venue if event else '' }}"
                                class="{% if 'venue' in missing_fields %}is-invalid{% endif %}" />
                        </div>
                        <div class="input-field">
                            <p>Địa chỉ cụ thể</p>
                            <input type="text" name="location" placeholder="Địa chỉ cụ thể ( tên đường, thành phố )"
                                value="{{ event.location if event else '' }}"
                                class="{% if 'location' in missing_fields %}is-invalid{% endif %}" />
                        </div>
                    </div>

                    <div class="input-field">
                        <p>Mô tả sự kiện</p>

                        {{ ckeditor.create(value=event['description'] if event and event.get('description') else
                        '') }}
                    </div>

                    <div class="event_form-actions">
                        <button type="submit" class="create">
                            <div data-lucide="save"></div>
                        </button>
                    </div>
                </div>
            </div>
            <div class="event_form-ticket">
                <div class="title">
                    <h3>Cấu hình vé tham dự</h3>
                    <p>Thêm các khu vực tổ chứ và loại vé tham dự</p>
                    <p>Nội dung này sẽ hiển thị trong trang sự kiện công khai.</p>
                </div>
                <div class="form-data">
                    <div class="input-field">
                        <div class="label">
                            <p>Cấu hình khu vực tổ chức</p>
                            <button type="button" class="create" id="add-zone" onclick="addZone()">Thêm khu vực</button>
                        </div>

                        <div class="zone-setup">
                            <div class="zone-container">
                                <!-- Zones render here -->
                            </div>
                            <input type="hidden" name="zones" id="zones-data" />
                            <div class="zone-card-edit" id="zone-card-edit">
                                <div class="label">
                                    <p>Thông tin khu vực</p>
                                    <div class="label-actions">
                                        <button type="button" class="delete" onclick="deleteZone()">Xóa</button>
                                    </div>
                                </div>

                                <div class="input-field">
                                    <p>Tên khu vực tổ chức</p>
                                    <input type="text" id="zone-name" placeholder="Khu vực A, khu vực thường ...."
                                        onchange="updateCurrentZone()" />
                                </div>

                                <div class="input-group">
                                    <div class="input-field flex-66">
                                        <p>Thể loại</p>
                                        <select id="zone-type" onchange="updateCurrentZone()">
                                            <option value="SEAT">Ghế ngồi</option>
                                            <option value="STAND">Tự do</option>
                                        </select>
                                    </div>
                                    <div class="input-field" onchange="updateCurrentZone()">
                                        <p>Sức chứa</p>
                                        <input type="number" id="zone-capacity" min="0" />
                                    </div>
                                </div>

                                <div class="input-field" onchange="updateCurrentZone()">
                                    <p>Mô tả</p>
                                    <input type="text" id="zone-description"
                                        placeholder="Mô tả khu vực: vị trí, hướng dẫn..." />
                                </div>


                                <div class="input-field">
                                    <p>Cấu hình vé </p>
                                    <div class="ticket-list">
                                        <!-- Tickets render here -->
                                    </div>
                                </div>

                                <div class="ticket-edit" id="ticket-edit">
                                    <div class="label">
                                        <p>Thông tin loại vé</p>
                                        <div class="label-actions">
                                            <button type="button" class="delete" onclick="deleteTicket()">Xóa</button>
                                            <button type="button" class="create" onclick="addTicket()">Thêm vé</button>
                                        </div>
                                    </div>
                                    <div class="input-field">
                                        <p>Tên, loại vé</p>
                                        <input type="text" name="name" id="title" placeholder="Vé vip, vé thường ..." />
                                    </div>
                                    <div class="input-group">
                                        <div class="input-field flex-66 ">
                                            <p>Giá vé</p>
                                            <input type="number" name="price" placeholder="Giá vé" min="0" />
                                        </div>
                                        <div class="input-field">
                                            <p>Số lượng</p>
                                            <input type="number" name="quantity" placeholder="số lượng" min="0" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    const input = document.getElementById("img");
    const preview = document.getElementById("preview");
    const deleteBtn = document.querySelector(".img-delete");
    const title = document.getElementById("title");
    const alias = document.getElementById("alias");
    const defaultImg = document.getElementById("default-img");

    var event_id = '{{ event_id }}';
    var event = '{{ event }}';

    var metadata = {
        isCreated: false,
        isDeleted: false,
        isUpdated: false
    }

    // Zone Actions
    const zoneContainer = document.querySelector(".zone-container");
    const addZoneBtn = document.getElementById("add-zone");
    const zonesInput = document.getElementById("zones-data");
    const zonesEditCard = document.getElementById("zone-card-edit");
    const ticketEditCard = document.getElementById("ticket-edit");
    let currentCharCode = "A".charCodeAt(0);
    let zoneCount = 0;
    let zones = '{{ zones|default([])|tojson }}' && event_id ? JSON.parse('{{ zones|default([])|tojson }}') : [];
    var currentZoneIndex = null;
    var currentTicketIndex = null;


    // Zone Methods
    function syncZoneNaming(zones) {
        if (!zones || zones.length === 0) return;

        const lastZone = zones[zones.length - 1];
        const match = lastZone.name.match(/Zone\s+([A-Z])(\d+)?$/i);

        if (match) {
            const charPart = match[1].toUpperCase();
            const numberPart = match[2] ? parseInt(match[2]) : null;

            currentCharCode = charPart.charCodeAt(0);
            if (numberPart) {
                zoneCount = numberPart; // nếu là Z1, Z2...
            }
        }
    }

    function getNextZoneName() {
        if (zones.length === 0) {
            currentCharCode = "A".charCodeAt(0);
            zoneCount = 0;
            return "Zone A";
        }

        if (currentCharCode < "Z".charCodeAt(0)) {
            currentCharCode++;
            return "Zone " + String.fromCharCode(currentCharCode);
        } else {
            zoneCount++;
            return "Zone Z" + zoneCount;
        }
    }

    function addZone() {
        syncZoneNaming(zones)
        const zoneName = getNextZoneName();

        // Thêm vào mảng
        zones.push({
            name: zoneName,
            type: "STAND",
            capacity: 100,
            description: "",
            metadata: { ...metadata, isCreated: true }
        });

        // render ra giao diện
        zoneRender();
    }

    function selectZone(zoneIndex) {
        if (currentZoneIndex === zoneIndex) {
            zoneIndex = null;
            currentZoneIndex = null
            const zoneNameInput = document.getElementById("zone-name");
            const zoneTypeSelect = document.getElementById("zone-type");
            const zoneCapacityInput = document.getElementById("zone-capacity");
            const zoneDescriptionInput = document.getElementById("zone-description");
            // const zoneTicketList = document.getElementById("ticket-list");

            zonesEditCard.classList.remove("active");
            zoneNameInput.value = "";
            zoneTypeSelect.value = "balcony";
            zoneCapacityInput.value = 0;
            zoneDescriptionInput.value = "";
        } else {
            const zone = zones[zoneIndex];
            const zoneNameInput = document.getElementById("zone-name");
            const zoneTypeSelect = document.getElementById("zone-type");
            const zoneCapacityInput = document.getElementById("zone-capacity");
            const zoneDescriptionInput = document.getElementById("zone-description");

            // const zoneTicketList = document.getElementById("ticket-list");

            zonesEditCard.classList.add("active");
            zoneNameInput.value = zone.name || "";
            zoneTypeSelect.value = zone.type || "balcony";
            zoneCapacityInput.value = zone.capacity || 100;
            zoneDescriptionInput.value = zone.description || "";
            currentZoneIndex = zoneIndex;
        }


        zoneRender();
        syncZoneNaming(zones);
        ticketsRender();
        // Nếu cần load vé của zone
        // renderTickets(zone.tickets || []);
    }

    function zoneRender() {
        zoneContainer.innerHTML = "";
        zones.map((zone, index) => {
            const zoneElem = document.createElement("div");
            zoneElem.className = "zone-item " + (currentZoneIndex === index ? "active" : "");
            zoneElem.addEventListener("click", () => selectZone(index));
            zoneElem.textContent = zone.name;

            if (!zone.metadata) {
                zone.metadata = { ...metadata };
            }

            if (zone.metadata && zone.metadata.isCreated) {
                const newBadge = document.createElement("span");
                newBadge.className = "badge new";
                newBadge.textContent = "NEW";
                zoneElem.appendChild(newBadge);
            }

            if (zone.metadata && zone.metadata.isDeleted) return

            zoneContainer.appendChild(zoneElem);
        });

        console.log("check zones", zones)
        // update hidden input
        zonesInput.value = JSON.stringify(zones)
    }

    function deleteZone() {

        // Kiểm tra mảng zones có rỗng không
        if (zones.length === 0 || currentZoneIndex < 0 || currentZoneIndex >= zones.length) {
            console.error("No zone selected or zones empty");
            return;
        }

        // Hỏi xác nhận trước khi xóa
        const zoneName = zones[currentZoneIndex].name || `Zone ${currentZoneIndex + 1}`;
        if (!confirm(`Bạn có chắc chắn muốn xóa ${zoneName}?`)) {
            return; // Hủy xóa nếu người dùng nhấn Cancel
        }

        if (zones[currentZoneIndex].isNew) {
            // Xóa zone hiện tại theo index
            zones.splice(currentZoneIndex, 1);
        } else {
            zones[currentZoneIndex].metadata = { ...metadata, isDeleted: true };
        }

        if (currentZoneIndex >= zones.length) {
            currentZoneIndex = zones.length - 1;
        }

        // Cập nhật UI
        if (currentZoneIndex >= 0) {
            selectZone(currentZoneIndex);
        }


        zoneRender();
        syncZoneNaming(zones);

        console.log("Zones after deletion:", zones);
    }

    function updateCurrentZone() {
        // Kiểm tra có zone nào đang được chọn không
        if (currentZoneIndex < 0 || currentZoneIndex >= zones.length) {
            console.error("No zone selected");
            return;
        }

        const zone = zones[currentZoneIndex];

        // Lấy giá trị từ form
        const zoneNameInput = document.getElementById("zone-name");
        const zoneTypeSelect = document.getElementById("zone-type");
        const zoneCapacityInput = document.getElementById("zone-capacity");
        const zoneDescriptionInput = document.getElementById("zone-description");

        // Cập nhật dữ liệu zone
        zone.name = zoneNameInput.value || zone.name;
        zone.type = zoneTypeSelect.value || zone.type;
        zone.capacity = parseInt(zoneCapacityInput.value) || zone.capacity;
        zone.description = zoneDescriptionInput.value || zone.description;
        zone.metadata = { ...zone.metadata, isUpdated: true }

        // Cập nhật UI nếu cần (tên zone trong danh sách)
        const zoneElement = document.querySelector(`.zone-item.active`);
        if (zoneElement) {
            zoneElement.textContent = zone.name;
        }

        // Đồng bộ với input hidden hoặc lưu dữ liệu
        zonesInput.value = JSON.stringify(zones);

        // Nếu cần, cập nhật tickets hoặc tên zone đồng bộ
        zoneRender();
        syncZoneNaming(zones);
    }

    zoneRender();

    // Ticket Methods
    function addTicket() {
        // Lấy thông tin từ form vé
        const ticketName = document.querySelector("[name='name']").value || "Vé mới";
        const ticketPrice = document.querySelector("[name='price']").value || 0;
        const ticketQuantity = document.querySelector("[name='quantity']").value || 0;

        // Tạo đối tượng vé
        const ticket = {
            name: ticketName,
            price: parseFloat(ticketPrice),
            quantity: parseInt(ticketQuantity),
            metadata: { ...metadata, isCreated: true }
        };

        // Thêm vé vào zone hiện tại
        zones[currentZoneIndex].tickets = zones[currentZoneIndex].tickets || [];
        zones[currentZoneIndex].tickets.push(ticket);

        // Cập nhật UI
        ticketsRender();
        clearTicketEditFrom();
    }

    function selectTicket(ticketIndex) {
        if (currentTicketIndex === ticketIndex) {
            currentTicketIndex = null
            const zone = zones[currentZoneIndex];
            const ticket = zone.tickets[ticketIndex];
            const ticketNameInput = document.querySelector("[name='name']");
            const ticketPriceInput = document.querySelector("[name='price']");
            const ticketQuantityInput = document.querySelector("[name='quantity']");

            ticketNameInput.value = "";
            ticketPriceInput.value = 0;
            ticketQuantityInput.value = 0;

            const addTicketBtn = document.querySelector(".ticket-edit .create");
            addTicketBtn.textContent = "Thêm vé";
            addTicketBtn.onclick = () => addTicket;
        } else {
            const zone = zones[currentZoneIndex];
            const ticket = zone.tickets[ticketIndex];
            // Điền thông tin của vé vào các trường chỉnh sửa
            const ticketNameInput = document.querySelector("[name='name']");
            const ticketPriceInput = document.querySelector("[name='price']");
            const ticketQuantityInput = document.querySelector("[name='quantity']");

            ticketNameInput.value = ticket.name;
            ticketPriceInput.value = ticket.price;
            ticketQuantityInput.value = ticket.quantity;
            currentTicketIndex = ticketIndex

            // Cập nhật giao diện (có thể thay đổi nút "Thêm vé" thành "Cập nhật vé")
            const addTicketBtn = document.querySelector(".ticket-edit .create");
            addTicketBtn.textContent = "Cập nhật vé";
            addTicketBtn.onclick = updateTicket;
        }

        ticketsRender()
    }

    function updateTicket() {
        if (currentZoneIndex === null || currentZoneIndex < 0 || currentZoneIndex >= zones.length) {
            alert("No zone selected");
            return;
        }
        const zone = zones[currentZoneIndex];

        // Lấy thông tin chỉnh sửa từ form
        const ticketName = document.querySelector("[name='name']").value || "Vé mới";
        const ticketPrice = document.querySelector("[name='price']").value || 0;
        const ticketQuantity = document.querySelector("[name='quantity']").value || 0;

        // Cập nhật thông tin vé
        const ticket = zone.tickets[currentTicketIndex];
        ticket.name = ticketName;
        ticket.price = parseFloat(ticketPrice);
        ticket.quantity = parseInt(ticketQuantity);
        ticket.metadata = { ...ticket.metadata, isUpdated: true }
        currentTicketIndex = null
        // Cập nhật giao diện
        ticketsRender();
        clearTicketEditFrom()

        // Cập nhật nút "Thêm vé" về trạng thái mặc định
        const addTicketBtn = document.querySelector(".ticket-edit .create");
        addTicketBtn.textContent = "Thêm vé";
        addTicketBtn.onclick = addTicket;
    }

    function clearTicketEditFrom() {
        const ticketNameInput = document.querySelector("[name='name']");
        const ticketPriceInput = document.querySelector("[name='price']");
        const ticketQuantityInput = document.querySelector("[name='quantity']");
        ticketNameInput.value = "";
        ticketPriceInput.value = 0;
        ticketQuantityInput.value = 0;
    }

    function ticketsRender() {
        // Xóa vé cũ
        const ticketList = document.querySelector(".ticket-list");
        ticketList.innerHTML = "";

        // Render vé mới
        zones[currentZoneIndex].tickets.forEach((ticket, index) => {
            const ticketItem = document.createElement("div");
            const headTicket = document.createElement("div");
            const contentTicket = document.createElement("div");

            if (!ticket.metadata) ticket.metadata = { ...metadata }
            if (ticket.metadata && ticket.metadata.isDeleted) return

            ticketItem.className = "ticket-item " + (currentTicketIndex === index ? "active" : "");
            ticketItem.textContent = `${ticket.name}`;
            ticketItem.addEventListener("click", () => selectTicket(index));
            ticketList.appendChild(ticketItem);
        });

        zonesInput.value = JSON.stringify(zones)
    }

    function deleteTicket() {
        if (currentZoneIndex === null || currentZoneIndex < 0 || currentZoneIndex >= zones.length) {
            alert("No zone selected");
            return;
        }

        const zone = zones[currentZoneIndex];
        if (!zone.tickets || currentTicketIndex < 0 || currentTicketIndex >= zone.tickets.length) {
            alert("No ticket selected");
            return;
        }

        if (!confirm("Bạn có chắc muốn xóa vé này không?")) {
            return;
        }

        if (zone.tickets[currentTicketIndex].metadata.isCreated) {
            zone.tickets.splice(currentTicketIndex, 1);
        } else {
            zone.tickets[currentTicketIndex].metadata = { ...metadata, isDeleted: true };
        }

        currentTicketIndex = null;

        ticketsRender();
        clearTicketEditFrom();
    }


    // Hàm tạo slug
    const slugify = text => text
        .replace(/đ/g, "d").replace(/Đ/g, "d")           // thay "đ"
        .normalize("NFD").replace(/[\u0300-\u036f]/g, "")// bỏ dấu
        .replace(/[^\w\s-]/g, "")                        // bỏ ký tự đặc biệt
        .trim().toLowerCase()
        .replace(/[\s_-]+/g, "-");                       // space/underscore => "-"

    // Cập nhật alias theo title
    title?.addEventListener("input", e => {
        alias.value = slugify(e.target.value);
    });

    // Khi chọn ảnh
    input.addEventListener("change", e => {
        const file = e.target.files[0];
        if (!file) return;

        const reader = new FileReader();
        reader.onload = ev => {
            preview.src = ev.target.result;
            preview.style.display = "block";
            defaultImg.style.display = "none";   // ẩn logo mặc định
            deleteBtn.style.display = "inline-block";

        };
        reader.readAsDataURL(file);
    });

    // Xóa ảnh => ẩn ảnh + ẩn nút
    deleteBtn.addEventListener("click", () => {
        preview.src = "";
        input.value = "";
        deleteBtn.classList.remove("has-image");
    });
</script>

{% endblock %}