.event_form {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.event_form .event_form-container {
    display: flex;
    height: 100%;
    width: 100%;
    gap: 20px;
    flex-grow: 1;
}

.event_form-actions {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    position: fixed;
    z-index: 100;
    right: calc(50% - 60px);
    top: 0px;
}

.event_form-actions button {
    width: 120px;
    height: 50px;
    overflow: none;
    border: none;
    cursor: pointer;
    border: 8px solid #f2f0f1;
    transition: 0.4s;
    transform: scale(0.8);
}

.event_form-actions button svg {
}

.event_form-actions button:hover {
    opacity: 1 !important;
    transform: scale(0.9);
}

.event_form-actions button.create {
    width: 150px;
    background-color: rgb(12, 110, 12);
    color: white;
    opacity: 0.8;
    border-radius: 25px 25px 25px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.event_form-actions button.update {
    width: 150px;
    background-color: rgb(1, 77, 255);
    color: white;
    opacity: 0.8;
    border-radius: 25px 25px 25px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.event_form-actions button.delete {
    background-color: red;
    color: white;
    opacity: 0.8;
}

.event_form .event_form-main {
    flex-basis: 55%;
    height: 100%;
    background-color: white;
    padding: 2%;
    border-radius: 10px;
    position: relative;
}

.event_form .event_form-main .is-created {
    color: rgba(18, 19, 18, 0.356);
    position: absolute;
    right: 0px;
    text-transform: uppercase;
    justify-content: flex-end;
    color: white;
}

.event_form .event_form-main .is-created .status {
    font-size: 16px;
    background-color: rgba(0, 128, 0, 0.637);
    padding: 10px 20px;
}

.event_form .title {
    margin: 0;
    margin-bottom: 30px;
}

.event_form .title h3 {
    margin-bottom: 6px;
    text-transform: uppercase;
    font-size: 1.2em;
}

.event_form .title p {
    font-size: 0.9em;
    color: #1f1e1e;
}

.event_form .form-data {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.event_form .input-field {
    width: 100%;
}

.event_form .input-field .label p {
    margin: 0;
}

.event_form .input-field .label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event_form .input-field .label button {
    height: 40px;
    border-radius: 20px;
    padding: 0px 20px;
    border: 6px solid #f2f0f1;
}

.event_form .input-field .label button.create {
    background-color: rgb(12, 110, 12);
    color: white;
    outline: none;
    cursor: pointer;
}

.event_form .input-field .label button.delete {
    background-color: rgb(219, 89, 3);
    color: white;
    outline: none;
    cursor: pointer;
}

.event_form .input-field p {
    margin-bottom: 10px;
}

.event_form .input-field p span {
    font-size: 0.8em;
}

.event_form .input-field input {
    width: 100%;
    height: 40px;
    padding: 0px 10px;
    border-radius: 6px;
    border: 1px solid #ddd;
}

.event_form .input-field select {
    width: 100%;
    height: 40px;
    padding: 0px 10px;
    border-radius: 6px;
    border: 1px solid #ddd;
}

.event_form .input-field input#img {
    border: none;
    padding: 0px;
}

.event_form .input-field .image-container {
    width: 100%;
    border: 1px solid #ddd;
    margin-bottom: 8px;
    min-height: 300px;
    position: relative;
}

.event_form .input-field .image-container button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: transparent;

    border: none;
    outline: none;
    color: white;
    display: none;
}

.event_form .input-field .image-container button.has-image {
    display: block;
}

.event_form .input-field .image-container button:hover svg {
    opacity: 1;
}

.event_form .input-field .image-container button svg {
    width: 45px;
    height: 45px;
    opacity: 0.6;
}

.event_form .input-field .image-container img {
    width: 100%;
}

.event_form .input-field .image-container img#default-img {
    object-fit: contain;
}

.event_form .input-field input#alias {
    background-color: #dddddd8f;
}

.event_form .input-field input#alias:focus {
    outline: none;
}

.event_form .input-group {
    display: flex;

    gap: 20px;
}

.event_form .input-group {
    display: flex;
}

.event_form .event_form-container .event_form-ticket {
    flex-grow: 1;
    min-height: calc(100vh - 40px);
    background-color: white;
    border-radius: 10px;
    padding: 2%;
    position: sticky;
    top: 20px;
    overflow-x: hidden;
    max-width: 40%;
}

.event_form .event_form-container .event_form-ticket .zone-setup {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.event_form .event_form-container .event_form-ticket .zone-setup .zone-container {
    flex-basis: 30%;
    min-height: 30%;
    width: calc(100% + 10px);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-content: flex-start;
}

.event_form .event_form-container .event_form-ticket .zone-setup .zone-item {
    flex-basis: calc(25% - 10px);
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.22s background-color ease-in-out;
    text-align: center;
    padding: 2%;
    position: relative;
    user-select: none;
}

.event_form .event_form-container .event_form-ticket .zone-setup .zone-item .badge {
    position: absolute;
    top: 5px;
    left: 5px;
    color: white;
    padding: 4px 6px;
    font-size: 0.7em;
    border-radius: 4px;
    text-transform: capitalize !important;
}

.event_form .event_form-container .event_form-ticket .zone-setup .zone-item .badge.new {
    background-color: green;
    text-transform: uppercase;
    font-size: 0.6em;
}

.event_form .event_form-container .event_form-ticket .zone-setup .zone-item.active {
    background-color: #1e3557;
    color: white;
    font-weight: 600;
    user-select: none;
}

.event_form .event_form-container .event_form-ticket .zone-setup .zone-item:hover {
    outline: 4px solid #1e3557;
}

.event_form .event_form-container .event_form-ticket .zone-setup .zone-item .remove {
    position: absolute;
    bottom: -8px;
    right: -8px;
    cursor: pointer;
    color: rgba(41, 40, 40, 0.733);
    background-color: white;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.event_form .event_form-container .event_form-ticket .zone-setup .zone-item .remove svg {
    width: 20px;
    height: 20px;
}

.event_form .event_form-container .event_form-ticket .zone-setup .zone-card-edit {
    display: none;
    position: relative;
}

.event_form .event_form-container .event_form-ticket .zone-setup .zone-card-edit.active {
    min-height: 55px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 4% 3%;
    border-radius: 6px;
    background-color: white;
    border: 1px solid #ddd;
}

.event_form .event_form-container .event_form-ticket .zone-setup .zone-card-edit .name {
    font-weight: 600;
}

.event_form .event_form-container .event_form-ticket .zone-setup .zone-card-edit .ticket-list {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.event_form .event_form-container .event_form-ticket .zone-setup .zone-card-edit .ticket-list .ticket-item {
    background-color: #7d7e8069;
    padding: 20px 40px;
    border-radius: 4px;
    width: fit-content;
    color: white;
    cursor: pointer;
    user-select: none;
}



.event_form .event_form-container .event_form-ticket .zone-setup .zone-card-edit .ticket-list .ticket-item.active {
    background-color: #1e3557e3;
}

.event_form .event_form-container .event_form-ticket .zone-setup .zone-card-edit .ticket-list .ticket-item:hover {
    background-color: #1e3557e3;
}

.event_form .event_form-container .event_form-ticket .zone-setup .ticket-edit {
    min-height: 55px;
    display: flex;
    flex-direction: column;
    padding: 4%;
    padding-bottom: 10%;
    border-radius: 6px;
    background-color: #1e3557;
    border: 1px solid #ddd;
    gap: 10px;
    color: white;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.event_form .event_form-container .event_form-ticket .zone-setup .ticket-edit.active {
}

.event_form .event_form-container .event_form-ticket .terms-and-conditions {
    padding: 0px 4%;
}

.event_form .event_form-container .event_form-ticket .terms-and-conditions .title {
    margin-bottom: 30px;
    text-align: justify;
}

.event_form .event_form-container .event_form-ticket .terms-and-conditions ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
}

.event_form .event_form-container .event_form-ticket .terms-and-conditions ul li {
    flex-basis: calc(50% - 20px);
}

.event_form .event_form-container .event_form-ticket .terms-and-conditions ul li p {
    letter-spacing: 0.8px;
    font-size: 0.9em;
    padding: 4px 0px;
    text-align: justify;
}

.event_form .event_form-container .event_form-ticket .terms-and-conditions ul li p::before {
    content: "⭑";
    width: 10px;
    height: 10px;
    margin-right: 8px;
}

.event_form .event_form-container .event_form-ticket .terms-and-conditions ul h4 {
    font-size: 1.1em;
    margin-bottom: 4px;
    text-transform: uppercase;
}
