.section-highlight {
    margin-right: -10px;
}

.section-highlight title {}

.section-highlight h2 {
    font-family: "Smooch Sans", sans-serif;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.0em;
    margin-bottom: 0;
}


.section-highlight p {
    font-family: "Smooch Sans", sans-serif;

    font-size: 1.2em;
}


@media (max-width: 767px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

.section-highlight .carousel-inner .carousel-item.active,
.section-highlight .carousel-inner .carousel-item-next,
.section-highlight .carousel-inner .carousel-item-prev {
    display: flex;
}

.section-highlight .carousel-inner .carousel-item {

}

.section-highlight .carousel-inner .carousel-item .card{
    padding-right: 10px;
    border: none;
}

.section-highlight .carousel-inner .carousel-item .card .card-img{
    border-radius: 5px;
    overflow: hidden;
    border: none;
}

.section-highlight .carousel-inner .carousel-item .card .card-img


#recipeCarousel {
    padding: 0!important;
}

/* medium and up screens */
@media (min-width: 768px) {

    .section-highlight .carousel-inner .carousel-item-end.active,
    .section-highlight .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .section-highlight .carousel-inner .carousel-item-start.active,
    .section-highlight .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.section-highlight .carousel-inner .carousel-item-end,
.section-highlight .carousel-inner .carousel-item-start {
    transform: translateX(0);
}