.ticket-card {
    height: fit-content;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.ticket-card .info p {
    margin-bottom: 0;
}

.ticket-card .info .name {
    margin-top: 20px;
    font-weight: bold;
    line-height: 1.2em;
    font-size: 0.95em;
    text-transform: capitalize;
}

.ticket-card .info .price {
    color: rgb(217, 52, 7);
    font-weight: bold;
    font-size: 1em;
    padding: 6px 0px;
}

.ticket-card .info .date {
    gap: 10px;
    opacity: 0.76;
    font-size: 1em;
    width: 90%;
}

.ticket-card .info .date i {
    margin-right: 10px;
}


.ticket-card img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
