:root {
    --card_width: 250px;
    --row_increment: 10px;
    --card_border_radius: 16px;
    --card_small: 26;
    --card_med: 33;
    --card_large: 45;
}

.login-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    padding: 20px;
    gap: 20px;
}

.login-page .background-image {
    flex-basis: 60%;
    flex-shrink: 1;
    background-color: black;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.login-page .login-form {
    flex-basis: 40%;
    flex-shrink: 40%;
    min-width: 40%;
    border-radius: 10px;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.login-page .login-form .register-redirect {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0% 5%;
}

.login-page .login-form .register-redirect p {
    margin: 0;
}

.login-page .login-form .register-redirect button {
    border: none;
    background-color: #dddddd52;
    border-radius: 5px;
    padding: 8px 20px;
}

.login-page .login-form .login-form-container {

    text-align: center;
}

.login-page .login-form .login-form-container .title {
    margin-bottom: 20px;
}

.login-page .login-form .login-form-container .title h3{
    margin-bottom: 15px;
    font-weight: bold;
    color: #575454;
}

.login-page .login-form .login-form-container .title h3 span {
    color: rgb(8, 198, 246);

}

.login-page .login-form .login-form-container .title p{
    margin: 0;
    color: #3b3a3ac0;
}



.login-page .login-form .login-form-container .lg-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.login-page .login-form .login-form-container .lg-form input {
    padding: 10px 15px;
    outline: none;
    border-radius: 8px;
    border: 1px solid #ddd;
}


.login-page .login-form .login-form-container .lg-actions {
    display: flex;
    flex-direction: column;
}


.login-page .login-form .login-form-container .lg-actions .forgot-password {
    margin-bottom: 20px!important;
    cursor: pointer;
}

.login-page .login-form .login-form-container .lg-actions .login-btn-confirm {
    margin-bottom: 10px!important;
    padding: 8px 10px;
    border: none;
    border-radius: 8px;
    background-color: rgb(24, 24, 236);
    color: white;
}

.login-page .login-form .login-form-container .lg-actions p {
    position: relative;
    z-index: 2;
    margin-top: 10px;
}

.login-page .login-form .login-form-container .lg-actions p span {
    position: relative;
    z-index: 2;
    background-color: white;
    padding: 0px 20px;
    text-transform: uppercase;
}

.login-page .login-form .login-form-container .lg-actions p::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #ddd;
    left: 0;
    top: calc(50% - 0.5px);
}

.masonry-container {
    column-count: 3;
    column-gap: 6px;
    align-items: flex-start;
    width: calc(100%);
    filter: brightness(50%);
}
.masonry-item {
    display: inline-block;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}
.masonry-item img {
    display: block;
    width: 100%;
}
